@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../../resources/views/**/*.blade.php';

@theme {
    --font-sans: 'Manrope', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Ensure html/body allow scrolling */
html, body {
    overflow-x: hidden;
}

html.lenis, html.lenis body {
    height: auto;
}
/* Trigger Vite HMR */
/* Vite HMR trigger 2 */